django
djangorestframework
djangorestframework-simplejwt
django-environ
asgiref                       
Django                        
django-cors-headers           
django-environ                
djangorestframework           
djangorestframework_simplejwt 
mysqlclient                   
pillow                        
pip                          
PyJWT                         
sqlparse                     
tzdata                        
stripe
python-decouple
pytest-django
mysql-connector-python
gunicorn
redis
